<html>

	<head>
		<title>My Webpage</title>
	</head>

	<body>
		<h1>Welcome to Python</h1>
		<p>
			Python is an easy to learn language that can be used for a variety of purposes like web developement and data analysis.
		</p>

		<br><img src="http://upload.wikimedia.org/wikipedia/commons/e/e8/High-Yellow_Sorong_Amethystine_Scrub_Python.jpg">

		<br><img src="http://www.unixstickers.com/image/cache/data/stickers/python/python_sh-600x600.png">

		<ul>
			<li><a href="http://en.wikipedia.org/wiki/Python_%28programming_language%29">Python Facts and Info</a></li>
			<li><a href="http://www.mypythonquiz.com/question.php?qid=157"><em>Take a Quiz to test your skills!</em></a></li>
			<li><a href="http://snap.berkeley.edu/snapsource/snap.html">Click Here To go to a SNAP Game</a>

		<p>
			and login with this info- 
		</p>

		<p>
			Username: PythonLearner
		</p>

		<p>
		Password: ilovetolearn
		</p>

		<p>
			Once you are in, then all you need to do click the arrows to extend the stage and click the Green Flag to being playing! :)
		</p></li>
		</ul>

	</body>

</html>